/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
.containerall{
    background: linear-gradient(#009688 10%, #dbdbd4 90%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
.timechat{
    font-size: .7rem;
    color: grey;
}
/* header sidebar e content */
header{
    height: 8vh;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
/* ContainerWhatsapp */
.whatsapp{
    width:80%;
    height: 95vh;
    background-color: white;
    display: flex;
}
/* SIDEBAR */
.sidebar{
    height: 95vh;
    width: 35%;
    background-color:#eaeaea;
}
.utente{
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.avatar-io{
    width: 100%;
    display: flex;
    align-items: center;
}
.avatar-io img{
    width: 17%;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}
.option{
    height: 100%;
    width: 40%;
    border-right: .2px solid lightgrey;
    display: flex;
    justify-content: end;
    align-items: center;
}
.option i{
    margin-right: 20px;
    color: #b1b1b1;
    font-size: 1.2rem;
}
.notification{
    background-color: #8edafc;
    height: 10vh;
    display: flex;
    align-items: center;
}
.notif{
    margin-left: 30px;
    background-color: #f2fbff;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}
.notif i{
   font-size: 1.2rem;
   color: #8edafc;
}
.notif-text{
    margin-left: 10px;
}
.notif-text a{
    color: grey;
}
.searchchat{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchchat input{
    height: 76%;
    width: 83%;
    border: none;
}
.searchchat label{
    width: 15%;
    height: 76%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3apx solid lightgrey;
}
.searchchat i{
    color: grey;
    font-size: large;
}
.chatsidebar{
    height: 72vh;
    background-color: white;
    overflow-y: scroll;
}

.row{
    height: 10vh;
    display: flex;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    position: relative;
}
.time{
    position:absolute;
    right: 10px;
    top: 10px;
}
.row:hover{
    background-color:#e9ebeb
}
.avatar{
    display: flex;
    justify-content: start;
    align-items: center;
}
.avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;
    display: inline-block;
}
.chatinfo{
    height: 7vh;
    margin-left: 20px;
    align-items: flex-start;
}
.chatinfo p{
    display: block;
}
.name-profile{
    font-size: 1.2rem;
}
.end-message{
    color: gray;
}
/* CONTENUTO */
.content{
    height: 95vh;
    width: 65%;
    background-color:lightblue;
}
.avatar-selezionato{
    display: flex;
}
.avatar-selezionato img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
}
.avatarinfo{
    padding-left: 20px;
    margin: auto 0;
}
.last-access{
    color: grey;
}
.utente-selected{
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.contentchat{
    height: 79vh;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
.rowchat{
    height: 8vh;
    display: flex;
    align-items: center;
}
.space{
    height: 8vh;
}
.firstmessage{
    margin-top: 50px;
}
.messagechat{
    width: 30%;
    min-height: 6vh;
    max-height: 17vh;
    min-width: 30%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.messagechat:hover .down {
    display: block;
}
.timemessage{
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.messagesend{
    display: flex;
    justify-content: end;
}
.messagereceive{
    display: flex;
    justify-content: start;
}
.send{
    padding-left: 10px;
    margin-right: 80px;
    text-align: left;
    background-color: #d5f9ba;
}
.receive{
    margin-left: 80px;
    text-align:  left;
    padding-left: 10px;
    background-color: white;
}
/*FOOTER*/
footer{
    height: 8vh;
    background-color: #f3eeea;
    border-left: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i{
    margin: auto 2rem;
    font-size: 1.5rem;
    color: grey;
}
footer input{
    height: 74%;
    width: 83%;
    border-radius: 10px;
    border: none;
    padding: 13px;
    font-size: 1rem;
}
/* CLASSI UTILIZZATE PER I BONUS */
.delete-info{
    height: 5vh;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 20px;
    padding: 5px;
    display: none;
    box-shadow:   10px 5px 5px black;
}
.active{
    display: block;
}
.down{
    position: absolute;
    top: 5px;
    right: 10px;
    color: grey;
    display: none;
    cursor: pointer;
}
.infomessage , .deletemessage{
    cursor: pointer;
    text-align: center;
}
#none{
    display: none;
}
#visibleairplane{
    display: block;
}
.dropmenuchat{
    height: 8vh;
    width: 20%;
    background-color: white;
    border-radius: 5px;
    box-shadow:   10px 5px 5px black;
    position: absolute;
    right: 10px;
    top: 50px;
    padding-top: 20px;
    text-align: center;
}
.delete-all{
    font-weight: bold;
    cursor: pointer;
}
#deleteall{
    cursor: pointer;
}
#deleteall:hover{
    color: black;
}
#addChat{
    cursor: pointer;
}
#addChat:hover{
    color: black;
}
