<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@200;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="containerall">
            <div class="whatsapp">
                <!-- sidebar laterale -->
                <div class="sidebar">
                    <!-- header sidebar -->
                    <header>
                        <!-- div per il profilo utente -->
                        <div class="utente">
                            <div class="avatar-io">
                                <img src="img/avatar_io.jpg" alt="">
                                <p>Sofia</p>
                            </div>
                        </div>
                        <!-- div per le opzioni chat -->
                        <div class="option">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- main sidebar -->
                    <main>
                        <!-- attive notifiche -->
                        <div class="notification">
                            <div class="notif">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="notif-text">
                                <p>Ricevi notiche di nuovi mesaggi</p>
                                <a href="">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <!-- ricerca chat -->
                        <div class="searchchat">
                            <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                            <input type="text" id="search" placeholder="Cerca o inizia una nuova chat" 
                            v-model.trim="userSearch">
                        </div>
                        <!-- chat -->
                        <div class="chatsidebar">
                            <div @click="showThisChat(indice)" class="row" v-for="(valore , indice) in contacts" v-show="contacts[indice].name.includes(userSearch)">
                                <div class="avatar">
                                    <img :src='"img/avatar"+valore.avatar+".jpg"' alt="">
                                    <div class="chatinfo">
                                        <p class="name-profile">{{valore.name}}</p>
                                        <p class="end-message">{{contacts[indice].messages.slice(-1).pop().message}}</p>
                                    </div>
                                </div>
                                <div class="time">
                                    <span class="timechat">{{contacts[indice].messages.slice(-1).pop().date}}</span>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <!-- content contente le chat -->
                <div class="content">
                    <!-- header content -->
                    <header>
                        <!-- utente seleziona -->
                        <div class="utente-selected">
                            <div class="avatar-selezionato">
                                <img :src='"img/avatar"+contacts[thisChat].avatar+".jpg"' alt="">
                                <div class="avatarinfo">
                                    <p class="name-profile">{{contacts[thisChat].name}}</p>
                                    <p class="last-access">Ultimo messaggio inviato  {{contacts[thisChat].messages.slice(-1).pop().date}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- opzioni sulla chat -->
                        <div class="option">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
                    <!-- main chat -->
                    <div class="contentchat">
                        <div class="space">
                            
                        </div>
                        <div class="rowchat messagesend" v-for="(messaggio , indice) in contacts[thisChat].messages" 
                        :class='messaggio.status === "sent" ? "messagesend" : "messagereceive"' >
                            <div class="messagechat send" :class='messaggio.status === "sent" ? "send" : "receive"'>
                               {{messaggio.message}}
                               <div class="timemessage">
                                    <span class="timechat">{{messaggio.date}}</span> 
                                </div>
                                <div class="down"@click="">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <div class="delete-info">
                                    <p>Info</p>
                                    <p>Elimina </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- footer con input chat -->
                    <footer>
                        <i class="fa-regular fa-face-smile"></i>
                        <label for="chat-user"></label>
                        <input @keyup.enter="addMessage" type="text" id="chat-user" placeholder="Scrivi un messaggio" v-model.trim="userMessage">
                        <i class="fa-solid fa-microphone"></i>
                    </footer>
                </div>
            </div>
        </div>
    </div>


    <script src="js/script.js"></script>
</body>

</html>